# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (Go Modules)
vendor/

# Go workspace file
go.work

# IDE/editor files
.idea/
.vscode/
*.swp

# Build directories
bin/
build/
dist/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

logseq/
journals/
whiteboards/
pages/